---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/tv?api_key=<TMDB_API_KEY>&query=nonexistent-show-12345
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Gateway-Cache-Status:
      - MISS
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - cd57069d191ceb3cd5679acf13c6d434
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '23105'
      X-Az:
      - us-east-1b
      X-Task-Id:
      - 436fec9edc154ef9a9194796d1cc326f
      Etag:
      - W/"0e23279b004381f72a34159d5c7dfd1f"
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[],"total_pages":1,"total_results":0}'
  recorded_at: Sun, 04 Oct 2026 20:17:49 GMT
- request:
    method: get
    uri: https://api.tvmaze.com/search/shows?q=nonexistent-show-12345
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: "[]"
  recorded_at: Sun, 04 Oct 2026 20:17:51 GMT
recorded_with: VCR 6.2.0
