---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/tv?api_key=<TMDB_API_KEY>&query=nonexistent-show-12345
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - 65ea5083f33d0b7f268f716c9c5248bf4fbbcc14e8b2809b119a31e5c120ed0e
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '25880'
      X-Az:
      - us-east-1b
      X-Task-Id:
      - aa1d39a9f4204e53bf1bd27f47d446b3
      Etag:
      - W/"0e23279b004381f72a34159d5c7dfd1f"
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[],"total_pages":1,"total_results":0}'
  recorded_at: Sat, 16 May 2026 21:11:51 GMT
- request:
    method: get
    uri: https://api.tvmaze.com/search/shows?q=nonexistent-show-12345
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: "[]"
  recorded_at: Sat, 16 May 2026 21:11:51 GMT
recorded_with: VCR 6.2.0
