---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/tv/invalid?api_key=<TMDB_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Az:
      - us-east-1c
      X-Task-Id:
      - 71ea9e19710847ae9441e3421a8dfb3d
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"status_code":6,"status_message":"Invalid id: The
        pre-requisite id is invalid or not found."}'
  recorded_at: Sat, 09 May 2026 00:20:40 GMT
recorded_with: VCR 6.2.0
