---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/tv/invalid?api_key=<TMDB_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Gateway-Cache-Status:
      - MISS
      X-Az:
      - us-east-1b
      X-Task-Id:
      - a32aebfa238a4258bb22020bf9f5ed69
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"status_code":6,"status_message":"Invalid id: The
        pre-requisite id is invalid or not found."}'
  recorded_at: Sun, 04 Oct 2026 20:12:23 GMT
recorded_with: VCR 6.2.0
