---
http_interactions:
- request:
    method: get
    uri: https://api.tvmaze.com/shows/invalid
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"name":"Not Found","message":"Page not found.","code":0,"status":404,"previous":{"name":"Invalid
        Route","message":"Unable to resolve the request \"shows/invalid\".","code":0}}'
  recorded_at: Sat, 09 May 2026 00:27:22 GMT
recorded_with: VCR 6.2.0
