---
http_interactions:
- request:
    method: get
    uri: https://api.tvmaze.com/shows/81
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":81,"url":"https://www.tvmaze.com/shows/81/criminal-minds","name":"Criminal
        Minds","type":"Scripted","language":"English","genres":["Drama","Crime","Thriller"],"status":"Running","runtime":null,"averageRuntime":59,"premiered":"2005-09-22","ended":null,"officialSite":"https://www.paramountplus.com/shows/criminal_minds/","schedule":{"time":"","days":["Thursday"]},"rating":{"average":8.1},"weight":100,"network":null,"webChannel":{"id":107,"name":"Paramount+","country":null,"officialSite":"https://www.paramountplus.com/"},"dvdCountry":null,"externals":{"tvrage":3171,"thetvdb":75710,"imdb":"tt0452046"},"image":{"medium":"https://static.tvmaze.com/uploads/images/medium_portrait/626/1567475.jpg","original":"https://static.tvmaze.com/uploads/images/original_untouched/626/1567475.jpg"},"summary":"<p><b>Criminal
        Minds</b> revolves around an elite team of FBI profilers who analyze the country''s
        most twisted criminal minds, anticipating their next moves before they strike
        again.</p>","updated":1790278163,"_links":{"self":{"href":"https://api.tvmaze.com/shows/81"},"previousepisode":{"href":"https://api.tvmaze.com/episodes/3599325","name":"Bad
        Blood"}}}'
  recorded_at: Sun, 04 Oct 2026 20:12:25 GMT
recorded_with: VCR 6.2.0
